/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  padding: 10px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.header__decoration-dark {
  position: absolute;
  justify-self: end;
  margin-right: 29px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
}

.header__decoration-dark::after {
  position: absolute;
  align-self: center;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  margin-left: 10px;
}

.decorated-zone::before {
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  justify-self: start;
  align-self: flex-end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  margin-bottom: 20px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  grid-column: 1 / 3;
  justify-self: start;
  grid-row: 2;
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  padding: 10px;
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  height: 26px;
  width: 70px;
  color: var(--accent-color);
  background-color: inherit;
  border: none;
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__text {
  grid-column: 1 / 3;
  grid-row: 3;
  height: 52%;
  align-self: center;
  margin-bottom: 48px;
}

.section {
  margin-bottom: 50px;
}

.title_decor {
  color: var(--header3-color);
  background-color: var(--accent-color);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text_link:hover {
  text-decoration: underline;
}

.text_link:focus-visible {
  border: 1px solid var(--accent-color);
}

.section_title {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  line-height: var(--large-line-height);
  margin-top: 30px;
  margin-bottom: 20px;
}

.card_title {
  margin-bottom: 10px;
}

.card_text {
  color: #f1b2ce;
  font-family: var(--font-family);
  line-height: var(--large-line-height);
  font-size: var(--regular-font-size);
}

.first_section_card {
  margin-bottom: 20px;
}

.first_section_card:last-child {
  margin-bottom: 50px;
}

.second_section_card {
  margin-bottom: 20px;
}

.card_subtitle {
  font-weight: 400;
  margin-bottom: 10px;
}

.third_section_card {
  margin-bottom: 20px;
}

.third_section_card:last-child {
  margin-bottom: 40px;
}

.image_section_title {
  margin-bottom: 10px;
}

.section_image {
  width: 100%;
  height: 100%;
  margin-bottom: 7px;
}

.footer {
  margin-top: 35px;
  block-size: 100vh;
  display: grid;
}

.footer_title {
  justify-self: center;
  align-self: center;
  color: var(--header1-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  .header__decoration-dark {
    margin-top: 10px;
    margin-right: 39px;
  }

  .decorated-zone::before {
    margin-top: 10px;
    margin-right: 10px;
  }

  .decorated-zone::after {
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1 / 3;
    padding: 0px;
    align-self: center;
  }

  .header__theme-menu {
    align-self: center;
    margin-top: 120px;
    margin-right: 10px;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 10px;
  }

  .header__text {
    grid-column: 2;
    align-self: flex-start;
    height: min-content;
    margin-top: 30px;
    margin-right: 10px;
  }
}
